# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\tempoldwebsote\iat455-project\iat455-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
